body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

body p {
    margin: 2cm;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#name {
    margin: 0;
    font-size: 1.5em;
}

nav {
    display: flex;
}

nav a {
    color: rgb(200, 47, 47);
    text-decoration: none;
    margin-left: 15px;
    position: relative;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #2f1010; /* Add border to create the box effect */
    border-radius: 5px; /* Optional: Add rounded corners */
    transition: background-color 0.3s ease-in-out; /* Add transition effect */
}

nav a:hover {
    background-color: #2f1010; /* Change background color on hover */
    color: white; /* Change text color on hover */
}

nav a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2f1010;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
}

nav a:hover::before {
    opacity: 1;
}